- var pageTitle = "SVG 101"
- var site = "Miguel Rivas"
- var fbPreview = "https://miguel-rivas.github.io/img/pv_svg_101.png"
- var icoPath = "https://miguel-rivas.github.io/img/favicon.png"
- var icoBackground = "#222"
- var description = "SVG 101 Experiments"
- var keyWords = "aguacate, aguacatekun, santo, domingo, republica, dominicana, svg"
- var viewPort = false

doctype html
html
	head
		include jade/metatags
		link(href="css/main.css", rel="stylesheet")
		
	body
		aside
			.face
		main
			a#logo(href="../../"): img(src="img/logo2.png", alt="aguacatekun")
			span#texture
			section(data-stellar-background-ratio="0.1")
				include svg/penguin.svg
				include svg/penguin.svg
				include svg/penguin.svg
				include svg/penguin.svg
				include svg/penguin.svg
				include svg/penguin.svg
				include svg/mountain.svg
				include svg/igloo.svg
				include svg/moon.svg
				include svg/bunny.svg
				include svg/ship.svg
				include svg/spaceship.svg
				include svg/giraffe.svg

		script(src="https://code.jquery.com/jquery-2.1.4.min.js")
		script(src="js/jquery-stellar.js")
		script(src="js/jquery-mousewheel.js")
		script(src="js/snap.svg-min.js")
		script(src="js/avoRights.js")
		script(src="js/world.js")